<br><br>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @believer.name %>
</p>

<p>
  <b>Email:</b>
  <%= @believer.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @believer.phone %>
</p>

<p>
  <b>Status:</b>
  <%= @believer.status %>
</p>

<p>
  <b>Dob:</b>
  <%= @believer.dob %>
</p>
<p>
  <b>Anniversary:</b>
  <%= @believer.anniversary %>
</p>
<p>
  <b>Spouse:</b>
  <%= @believer.spouse %>
</p>
<%= link_to 'Back', believers_path %>
